/* GLOBAL */

.container-fluid {
  background-color: #6c757d;
}

/* HEADER */


/* VIDEOPLAYER */

.searchbox {
  width: 100%;
}


/* CHAT */

.chat {}


/* FOOTER */

.footer {
  background: #676767;
  padding: 20px;
  margin-top: 16px;
  color: white;
}



/* For dev */
body {
  border: 1px solid red;
}

.container-fluid {
  border: 1px solid red;
}

.header {
  border: 1px solid red;
}

.chat {
  border: 1px solid red;
}

.searchbox {
  border: 1px solid red;
}

.playlist {
  border: 1px solid red;
}

.video-js {
  border: 1px solid red;
}

footer {
  border: 1px solid red;
}
