/* Grid settings */

  body {
    background-color: #f1f1f1;
    margin-left: 5%;
    margin-right: 5%;
  }

  .app {

  }

  .header {
    padding: 1px 20px 10px 20px;
    background-color: white;
  }

  .main {
    display: grid;
    grid-template-columns: 640px auto;
    grid-gap: 10px;
  }

  .videoplayer {
    height: 360px;
    width: 640px;
  }

  .playlist {
    
    padding: 10px;
    background-color: white;
    max-width: 300px;
  }

  .playlist-buttons {
    width: 100%;
    margin-top: 5px;
    max-width: 300px;
  }

  .searchbox {
    width: 98%;
  }

  .chat {
    text-align: center;
    margin: 20px;
    border-top: 1px solid;
  }

  /*

  .button {
    width: 70%;
    font-size: 15px;
    margin: 10px;
  }
  
  .sidebar {
    grid-column-start: 15;
    grid-column-end: 16;
    display: grid;
  }

  

  .footer {
    text-align: center;
  }
  
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
  }

  */